$primary-color: #0656B4;
$secondary-color: #DFE9F5;
$light-gray-color: #767676;
$light-gray-color2: #D8D8D8;
$white-color: #fff;
$dark-gray-color: #222222;
$extra-light-gray-color: #f1f1f1;
$red-color: red;
$blue-color: #0656B4;
$light-blue-color: #abc8ea;
