$size-3px: 3px;
$size-4px: 4px;
$size-5px: 5px;
$size-8px: 8px;
$size-10px: 10px;
$size-12px: 12px;
$size-13px: 13px;
$size-15px: 15px;
$size-14px: 14px;
$size-16px: 16px;
$size-18px: 18px;
$size-24px: 24px;
$size-31px: 31px;
$size-32px: 32px;
$size-max-content-width: 1216px;